*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(243, 234, 223);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 30px;
    background-color: rgb(237, 221, 202);
    position: sticky;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: chocolate;
    font-size: 26px;
    font-weight: bold;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 4px 7px;
}
.nav-links a:hover{
    background-color: lightgray;
    border-radius: 14px;
}
.btn {
    /* background-color: black; */
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
main .section{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.heding{
    font-size: 24px;
}
.text{
    font-size: 18px;
    margin: 10px 0px;
}
.order{
    padding: 10px 10px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: rgb(252, 110, 9);
    margin-top: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
.left{
    position: absolute;
    left: -15px;
    top: 50%;
    transform: rotate(16deg);
    border-radius: 15px;
}
.right{
    position: absolute;
    right: -15px;
    top: 50%;
    transform: rotate(-15deg);
    border-radius: 15px;
}
.video{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.video video{
    overflow: hidden;
    border-radius: 20px;
}
.special{
    text-align: center;
    margin: 40px 0px 40px 0px;
}
.text-1 h1{
    font-size: 2.3rem;
    font-weight: bolder;
    padding: 2px 0px 15px 0px;
}
.text-1 p{
    font-style: 14px;
    font-weight: bold;
    padding: 2px 0px 15px 0px;
}
.menu{
    width: 30%;
    padding: 5px 0px;
    margin: auto;
    background-color: rgb(244, 224, 199);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.menu a{
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 100;
    padding: 8px 10px;
    border-radius: 22px;
    border: 0.1px solid black;
}
.menu a:hover{
    background-color: black;
    color: white;
}
#item-container{
    width: 75%;
    margin:auto;
    background-color:rgb(244, 224, 199) ;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: center; */
    /* align-items: center; */
    /* place-items: center; */
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    gap: 1px;
}
.item{
    border-radius: 10px;
    padding: 5px;
    margin: 5px 8px;
}
.item img{
    border-radius: 10px;

}
.item div{
    display: flex;
    width: 80%;
    justify-content: space-between;
    font-size: 17px;
    font-weight: bold;
    margin: 5px 10px 0px 0px;
}
.item div button{
     padding: 4px 8px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 15px;
    background-color: rgb(252, 110, 9);
    /* margin-top: 15px; */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
.last{
    text-align: center;
    margin: 20px 0px 20px 0px;
}
.signature{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    gap: 20px;
}
.signature img{
    border-radius: 10px;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.data #data{
    margin: 20px 0px;
}
.input{
    padding: 10px 40px 10px 20px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.sub-btn{
    color: white;
    font-weight: bold;
    background-color: rgb(252, 110, 9);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border: none;
    padding: 10px 20px;
    margin: 20px 0px;
    border-radius: 20px;
    cursor: pointer;
}
.checkbox{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
footer{
    background-color: rgb(27, 38, 82);
    color: white;
    margin-top: 15px;
    text-align: center;
}
.icon{
    margin: 20px 0px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.link{
    display: flex;
    justify-content: center;
    gap: 40px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    padding: 15px 0px;
    border-radius: 30px;
    margin: 20px 0px;
}
.link a{
    color: rgb(253, 230, 206);
    text-decoration: none;
}
.end{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}
.end a{
    text-decoration: none;
    color: rgb(250, 200, 161);
}
#end{
    display: flex;
    gap: 30px;
}